<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${options.getName()}">bla bla</title>
</head>
<body>
<p th:text="${options.getLegenda()}">bla bla</p>
<br>
<br>
<br>
<form th:object="${options}" th:action="@{/testAction}" method="post">

    <label for="name">Enter name </label>
    <input type="text" th:field="*{name}" id="name" placeholder="Имя">

    <br>
    <br>

    <label for="legenda">Enter legenda </label>
        <input type="text" th:field="*{legenda}" id="legenda" placeholder="Легенда">

    <br>
    <br>



    <label for="roles">Choose roles</label>

        <select multiple id="roles" th:field="*{textContainerInSet}">
            <option th:each="role : ${default_roles}"
                    th:value="${role}"
                    th:text="${role}">Wireframe</option>
        </select>

    <br>
    <br>

    <button type="submit">Okey</button>
</form>
после формы

</body>
</html>